{{#partial "content"}}
<html>
  <body>
    <div class="main">
      <nav class="nav-bar">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/add/new"> AddAnimal </a></li>
          <li><a href="/form"> PostSighting</a></li>
           <li><a href="/animals"> ViewAnimals</a></li>


        </ul>
      </nav>
    </div>
    <div class=" container">



<div class="row">
<div class="col-md-6" >



<div class="well" style="width:70%; opacity:0.8">
<h3>Regular Animal</h3>

<form action="/animals/new" method="POST">
  <label for="content">Animal name</label><br>
  <input id="content" name="content" type="text"><br>



  <button type="submit" class="btn btn-default">Add animal</button>
  </div>
  </div>
  </form>

  <div class="col-md-6" >



  <div class="well" style="width:70%; opacity:0.8">
  <h3>Endangered Animal</h3>

<form action="/animalsEndangered/new" method="POST">
  <label for="name">Animal name</label><br>
  <input id="name" name="name" type="text"><br>
  <label for="health">Animal health</label><br>
   <select name="health">
     <option value="Ill">Ill</option>
     <option value="Healthy">Healthy</option>
     <option value="Okay">okay</option>
   </select>
   <br>
    <label for="age">Animal age</label><br>
      <select name="age">
        <option value="New born">New born</option>
        <option value="adult">Adult</option>
        <option value="young">young</option>


      </select><br>





  <button type="submit" class="btn btn-default">Add animal</button>
</form>
</div>
</div>
</div>
  </body>
  <style>
  body{
 background-image: url(https://wallpapercave.com/wp/pLNajY7.jpg);
 background-repeat:no-repeat;
 background-size:cover;
 font-family: 'Lobster Two', cursive;

  }

  .main{
    margin: 50px;
    background-color:white;
    border: 2px solid #5D4D49;

  }

  .nav-bar{
    word-spacing: 40px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;

  }

  .nav-bar ul li a{
    text-decoration: none;
    color: black;
  }

  .nav-bar ul li{
    display: inline-block;
    -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
  }

  .nav-bar ul li:hover{
    border-bottom: 2px solid gray;
    border-radius: 10%;
    padding: 10px;
     background-color:#737CA1;
    color: white;
  }

  </style>
</html>


{{/partial}}

{{> layout.hbs}}