{{#block "header"}}

   <!doctype html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

       <title>{{#block "title"}}Welcome to my app{{/block}}</title>
       <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>
{{/block}}
<div class="page">
{{#block "content"}}

{{/block}}

{{#block "footer"}}
   </div>
   <style>
   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
   }
   </style>

   <div class="footer">
     <p>Esther Carrelle..copyright</p>
   </div>
   </body>
   </html>
{{/block}}